
.task-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-task-button-container {
    position: absolute;
    top: 45px;
    right: 30px;
    -webkit-box-shadow: 0 0 10px #556b80;
    box-shadow: 0 0 10px #556b80;
}

.list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin: 10px;
}

@media screen and (max-width: 767px) {

    .list-header {
        margin-top: 25px;
        font-size: 30px;
    }

}
