.task-card {
    width: 9rem;
    height: 13rem;
    opacity: 0.9;
    background: linear-gradient(to bottom right, #01a6d5, #00c1e8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease, opacity 0.5s ease;

}

.fade-up {
    transform: translateY(-300%);
    opacity: 0;
}
.fade-out {
    opacity: 0;
}

.task-card-text {
    font-size: 0.9rem;
    line-height: 12px;
    word-break: break-all;
}

.green-banner {
    display: flex;
    justify-content: center;
    width: calc(100% + 16px);
    margin-bottom: 5px;
    background-color: lightgreen;
    padding: 5px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 16px);
    height: 32px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20px;
}

.task-header {
    cursor: grab;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #36525b;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -8px;
    width: calc(100% + 16px);
}

.window-header {
    display: flex;
    align-items: center;
}

