
.add-task-button {
    background-color: #00c1e8 !important;
    border-radius: 10px;
    padding: 10px !important;
    color: black !important;
    width: 120px;
}

.add-task-button:hover {
    background-color: #008BB0 !important;
}

.add-task-form .MuiFormControl-root {
    margin-bottom: 8px;
}
